.footer {
  padding: 75px 0 30px;
  background-image: linear-gradient(
    180deg,
    $watusi 0%,
    rgba(254, 212, 205, 0) 100%
  );
  &__container {
    padding: 40px 15px 30px;
    border-top: 1px solid $orange;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }
  &__menu-list {
    display: flex;
    max-width: 800px;
    width: 100%;
  }
  &__menu-item {
    width: 100%;
    &:not(:first-child) {
      margin-left: 75px;
    }
  }
  &__social {
    display: flex;
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
  }
  &__copyright {
    &--up-orange {
      color: $orange;
      text-transform: uppercase;
    }
    &--orange {
      color: $orange;
    }
  }
  &__title {
    margin-bottom: 40px;
  }
  &-help__item,
  &-contacts__item,
  &-links__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &-help__link,
  &-contacts__link,
  &-links__link {
    transition: all 0.1s ease-in-out;
    color: $black;
    &:hover {
      color: $orange;
    }
  }
}

.footer-social {
  &__item {
    &:not(:first-child) {
      margin-left: 50px;
    }
  }
  &__link {
    &:hover {
      svg {
        path {
          fill: $orange;
          transition: all 0.2s ease-in-out;
        }
        circle {
          fill: $transparent;
          stroke: $orange;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}
