.partners {
  &__container {
    padding: 75px 15px;
  }
  &__title {
    max-width: 650px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    @include tablet {
      margin-bottom: 10px;
    }
  }
  &__desc {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    @include tablet {
      margin-bottom: 25px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include small-tablet {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__item {
    margin: 0 10px;
  }
  &__img {
    max-width: 180px;
    width: 100%;
  }
}
