.recall {
  margin-bottom: 75px;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 15px;
    @include tablet {
      justify-content: center;
    }
  }
  &__list {
    max-width: 500px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
  }
  &__item {
    position: absolute;
    left: -200%;
    opacity: 0;
    width: 100%;
    transition: all 0.2s ease-in-out;
    &--active {
      position: relative;
      opacity: 1;
      left: 0;
    }
  }
  &__btns {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }
  &__btn {
    animation: recallBtn 1s ease-in-out infinite;
    &--disable {
      color: $boulder;
      cursor: default;
      animation: none;
      &:hover {
        color: $boulder;
      }
    }
    &--devider {
      @include tablet {
        display: none;
      }
    }
  }

  &__title {
    margin-bottom: 20px;
    @include tablet {
      max-width: 600px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  &__subtitle {
    margin-bottom: 20px;
    @include tablet {
      max-width: 650px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 10px;
    }
  }
  &__desc {
    margin-bottom: 25px;
    @include tablet {
      max-width: 650px;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 20px;
    }
  }
  &__quote {
    margin-bottom: 20px;
    margin: 0;
    @include tablet {
      max-width: 500px;
      margin: 0 auto;
    }
    &-text {
      margin-bottom: 35px;
      max-width: 500px;
      display: inline-block;
      position: relative;
      text-indent: 30px;
      color: $cornflower;
      @include tablet {
        max-width: 1000px;
        margin-bottom: 20px;
      }
      &::before {
        content: '';
        width: 23px;
        height: 18px;
        position: absolute;
        left: 0;
        top: -5px;
        background-image: url(../images/sprite.svg#quote);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      &::after {
        display: none;
      }
    }
    &-autor {
      color: $orange;
      font-style: normal;
    }
    &-place {
      color: $boulder;
    }
  }
  &__imgs {
    max-width: 560px;
    width: 100%;
    position: relative;
    max-height: 550px;
    @include tablet {
      position: absolute;
      max-width: 1000px;
    }
  }
  &__img-wrapper {
    position: relative;
    width: fit-content;
    @include small-tablet {
      display: none;
    }
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -2px;
      left: -2px;
      border: 1px solid $cornflower;
      border-radius: 50%;
      z-index: -1;
    }
    &::before {
      content: '';
      position: absolute;
      border-radius: 50%;
    }
    &:nth-child(1) {
      top: 0;
      left: 0;
      max-width: 270px;
      @include tablet {
        top: -183px;
        left: 70px;
        max-width: 100px;
      }
      &::before {
        width: 15px;
        height: 15px;
        top: 60px;
        right: -60px;
        background-color: $cornflower;
      }
    }
    &:nth-child(2) {
      top: 50%;
      transform: translate(0, -50%);
      @include desktop {
        left: 310px;
      }
      @include tablet {
        position: absolute;
        top: 35px;
        right: 10px;
        max-width: 120px;
        transform: translate(0, 0);
      }
      &::before {
        width: 50px;
        height: 50px;
        bottom: -110px;
        left: 60px;
        background-color: $cello;
        @include tablet {
          left: -51px;
          width: 30px;
          height: 30px;
          bottom: -20px;
        }
      }
    }
    &:nth-child(3) {
      top: -200px;
      left: 90px;
      @include tablet {
        display: none;
      }
      &::before {
        width: 30px;
        height: 30px;
        top: -15px;
        left: -60px;
        background-color: $orange;
      }
    }
  }
  &__img {
    border-radius: 50%;
  }
}

@keyframes recallBtn {
  0% {
    color: $black;
  }
  50% {
    color: $orange;
  }
  100% {
    color: $black;
  }
}
