.service {
  &__container {
    padding: 75px 15px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include small-tablet {
      justify-content: center;

      flex-wrap: wrap;
    }
    @include mobile {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
    @include small-tablet {
      margin-bottom: 50px;
    }
    @include mobile {
      flex-direction: row;
    }
    @include small-mobile {
      flex-direction: column;
    }
  }
  &__img {
    margin-bottom: 25px;
    height: 80px;
    @include mobile {
      margin-bottom: 0;
    }
    @include small-mobile {
      margin-bottom: 25px;
    }
  }

  &__img-wrapper {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: -25px;
      left: 30px;
      width: 100px;
      height: 100px;
      background-color: $squeeze;
      border-radius: 50%;
      z-index: -1;
    }
  }

  &__title {
    margin-bottom: 10px;
    font: $fs-service-title;
  }
}
