.team {
  &__container {
    padding: 75px 15px;
    @include small-tablet {
      padding: 25px 15px;
    }
  }
  &__title {
    margin-bottom: 20px;
    max-width: 420px;
    text-align: center;
    margin: 0 auto;
  }
  &__subtitle {
    margin-bottom: 40px;
    max-width: 450px;
    text-align: center;
    margin: 0 auto;
    @include small-tablet {
      margin-bottom: 20px;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include small-tablet {
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  &__item {
    max-width: 400px;
    width: 100%;
    margin: 0 10px;
    @include small-tablet {
      max-width: 500px;
    }
    &:not(:last-child) {
      @include small-tablet {
        margin-bottom: 20px;
      }
    }
  }
  &__img-wrapper {
    position: relative;
    display: flex;
    @include tablet {
      padding-top: 20px;
    }
    @include small-tablet {
      padding-top: 40px;
    }
  }
  &__name {
    position: absolute;
    top: 47px;
    left: 14px;
    font: $fs-team-name;
    width: min-content;
    text-align: center;
    @include small-tablet {
      border-radius: 15px 15px 0 0;
      padding: 10px;
    }
    @include tablet {
      font: $fs-team-name-adaptive;
      top: 0;
      right: 0;
      left: 0;
      width: auto;
      background-color: $sail;
    }
  }
  &__img {
    max-width: 400px;
    width: 100%;
    @include small-tablet {
      max-width: 500px;
    }
  }
  &__info {
    background-color: rgba($color: $sail, $alpha: 0.4);
    padding: 23px;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font: $fs-team-desc;
    @include tablet {
      font: $fs-global-title;
      padding: 15px;
    }
    @include small-tablet {
      font: $fs-team-desc;
    }
  }
  &__place {
    color: $orange;
    margin-bottom: 10px;
    @include tablet {
      margin: 0;
    }
  }
  &__contact {
    color: $tundora;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $orange;
    }
  }
}
