// @font-face {
//   font-family: 'Inter';
//   src: url('../fonts/../fonts/Inter-Regular.woff2') format('woff2');
//   font-weight: 400;
//   font-display: swap;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Inter';
//   src: url('../fonts/../fonts/Inter-Medium.woff2') format('woff2');
//   font-weight: 500;
//   font-display: swap;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Inter';
//   src: url('../fonts/../fonts/Inter-Bold.woff2') format('woff2');
//   font-weight: 600;
//   font-display: swap;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Inter';
//   src: url('../fonts/../fonts/Inter-SemiBold.woff2') format('woff2');
//   font-weight: 700;
//   font-display: swap;
//   font-style: normal;
// }

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/../fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/../fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/../fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('../fonts/../fonts/PlayfairDisplay-Bold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
