@import './vars';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font: $fs-main;
  background-color: $white;
  color: $black;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.for-mobile {
  display: none;
  @include mobile {
    display: block;
  }
}

.dis-scroll {
  overflow-y: hidden;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1300px;
}

.text {
  margin: 0;
  &--grey-desc {
    color: $boulder;
    font: $fs-blue-desc;
  }
  &--blue-desc {
    color: $cornflower;
  }
  &--light-desc {
    font: $fs-bit-desc;
  }
  &--post {
    font: $fs-post-text;
    color: $boulder;
    letter-spacing: 1px;
  }
}

.title {
  margin: 0;
  &--main {
    font: $fs-main-title;
    @include small-tablet {
      font: $fs-global-subtitle;
    }
  }
  &--global {
    font: $fs-global-title;
    text-transform: uppercase;
  }
  &--light {
    font: $fs-light-title;
  }
  &--global-subtitle {
    font: $fs-global-subtitle;
    @include tablet {
      font: $fs-global-subtitle-adaptive;
    }
  }
  &--beautiful {
    font: $fs-beautiful-title;
    @include small-tablet {
      font: $fs-post-title;
    }
  }
  &--footer {
    font: $fs-footer-title;
  }
  &--post {
    font: $fs-post-title;
    @include tablet {
      font: $fs-post-title-adaptive;
    }
    @include mobile {
      font: $fs-post-text;
    }
  }
}

.btn {
  cursor: pointer;
  padding: 0;
  background-color: $transparent;
  border: none;
  color: $white;
  &--header {
    color: $orange;
    padding: 13px 44px;
    border: 1px solid $watusi;
    border-radius: 50px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: 50px;
      border: 1px solid $watusi;
      transition: all 0.2s ease-in-out;
    }
    &:hover {
      &::before {
        transform: rotate(-15deg);
      }
    }
  }
  &--main {
    background-color: $orange;
    border: 1px solid $orange;
    color: $white;
    border-radius: 50px;
    padding: 20px 0;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $transparent;
      color: $orange;
    }
    @include mobile {
      padding: 10px 0;
    }
  }
  &--light {
    background-color: rgba($color: $illusion, $alpha: 0.2);
    color: $orange;
    padding: 15px 0;
    border-radius: 25px;
    font: $fs-light-btn;
    transition: all 0.2s ease-in-out;
  }
  &--recall-slider {
    font: $fs-grey-desc;
    transition: all 0.2s ease-in-out;
    @include tablet {
      font: $fs-team-desc;
    }
    &:hover {
      color: $orange;
    }
  }
  &--slider-prev,
  &--slider-next {
    max-width: 60px;
    width: 100%;
    height: 60px;
    background-color: $chablis;
    border-radius: 50%;
    position: relative;
    transition: all 0.2s ease-in-out;
    @include tablet {
      max-width: 50px;
      height: 50px;
    }
    &::before {
      content: '';
      width: 6px;
      height: 12px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transition: all 0.2s ease-in-out;
    }
  }
  &--slider-prev {
    @include desktop {
      &:hover {
        background-color: $watusi;
        &::before {
          left: 42%;
        }
      }
    }
    &::before {
      background-image: url(../images/sprite.svg#arrow-left);
    }
  }
  &--slider-next {
    @include desktop {
      &:hover {
        background-color: $watusi;
        &::before {
          left: 58%;
        }
      }
    }
    &::before {
      background-image: url(../images/sprite.svg#arrow-right);
    }
  }
  &--burger {
    display: none;
    width: 50px;
    height: 50px;
    position: relative;
    border: 2px solid #fed4cd;
    border-radius: 50%;
    z-index: 101;
    transition: all 0.2s ease-in-out;
    &-active {
      border: 2px solid #fffeff;
      .btn--burger__item {
        background-color: transparent;
        &::before,
        &::after {
          background-color: #fffeff;
          width: 100%;
          left: 0;
          position: absolute;
        }
        &::after {
          transform: rotate(45deg);
          bottom: 0;
        }
        &::before {
          transform: rotate(-45deg);
          top: 0;
        }
      }
    }
    &__item {
      display: block;
      width: 50%;
      height: 2px;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: #ff6744;
      transition: all 0.2s ease-in-out;
      &::before,
      &::after {
        content: '';
        width: 50%;
        height: 2px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        background-color: #ff6744;
        transition: all 0.2s ease-in-out;
      }
      &::before {
        top: -10px;
      }
      &::after {
        bottom: -10px;
      }
    }
    @include small-tablet {
      display: block;
    }
    @include mobile {
      width: 40px;
      height: 40px;
    }
  }
}

.emphasize {
  display: inline-block;
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    bottom: 9px;
    right: 0;
    left: 0;
    width: 100%;
    height: 18px;
    opacity: 0.5;
    background-color: $cornflower;
    z-index: -1;
  }
}
