//COLORS
$transparent: transparent;
$white: #fffeff;
$black: #000;
$orange: #ff6744;
$watusi: #fed4cd;
$cornflower: #5fafef;
$boulder: #7a7a7a;
$squeeze: #e1f3f4;
$chablis: #fff3f2;
$dusty: #979797;
$waterloo: #848199;
$illusion: #f496d1;
$indigo: #5243c2;
$cello: #1d3557;
$chablis: #fff1f0;
$sail: #afd7f7;
$tundora: #403e3e;

//FONTS
$f-inter: 'Inter', sans-serif;
$f-mont: 'Montserrat', sans-serif;
$f-PD: 'PlayfairDisplay', sans-serif;

//FONTS-STYLES
$fs-price: 900 36px / 46px $f-mont;
$fs-price-title: 900 28px / 38px $f-mont;
$fs-light-btn: 900 15px / 15px $f-mont;
$fs-main: 400 14px / 22px $f-mont;
$fs-light-title: 400 48px / 58px $f-mont;
$fs-bit-desc: 400 24px / 29px $f-mont;
$fs-blue-desc: 400 16px / 22px $f-mont;
$fs-price-desc: 500 15px / 20px $f-mont;
$fs-grey-desc: 400 12px / 22px $f-mont;

$fs-main-title: 700 64px / 77px $f-inter;
$fs-service-title: 400 24px / 29px $f-inter;
$fs-footer-title: 400 30px / 35px $f-inter;
$fs-global-title: 400 14px / 22px $f-inter;
$fs-team-name: 500 36px / 44px $f-inter;
$fs-team-name-adaptive: 500 25px / 30px $f-inter;
$fs-team-desc: 500 18px / 22px $f-inter;
$fs-global-subtitle: 600 48px / 59px $f-inter;
$fs-global-subtitle-adaptive: 600 30px / 40px $f-inter;

$fs-beautiful-title: 700 48px / 64px $f-PD;
$fs-post-title: 700 30px / 40px $f-PD;
$fs-post-title-adaptive: 700 20px / 30px $f-PD;
$fs-post-text: 700 14px / 19px $f-PD;

//SIZES
$section: 30px;
